In [ ]:
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, Float, Date, ForeignKey, inspect
from sqlalchemy import text
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import datetime

# DEV RAW

In [ ]:
engine_dwh = create_engine('postgresql://dwh_postgres:dwh_postgres@dwh_postgres_container:5432/dwh_shops')
engine_api = create_engine('postgresql://dwh_postgres:dwh_postgres@dwh_postgres_container:5432/db_api')

In [ ]:
# Define the query
query = text('SELECT COUNT(*) FROM bd_shops.employers')

# Execute the query
with engine_dwh.connect() as connection:
    result = connection.execute(query)
    for row in result:
        print(row)

In [ ]:
connection = engine_dwh.connect()

In [ ]:
result = connection.execute(query)

In [ ]:
a = result.fetchall()

In [ ]:
type(a)

In [ ]:
a[0][0]

In [ ]:
metadata = MetaData()

In [ ]:
source_tables = {'employers': {'id': Integer},
                 'product': {'id': Integer},
                 'shops': {'id': Integer}}

print((name, col) for name, col in  source_tables.items())

In [ ]:
source_tables = {'employers': {'id': Integer},
                 'product': {'id': Integer},
                 'shops': {'id': Integer}}


for names in source_tables.items():
    for col in names:
        for

In [ ]:
connection.close()

In [ ]:
meta = MetaData()

In [ ]:
meta

In [ ]:
tp = True

In [ ]:
if tp:
    print(tp)

In [ ]:
tp = False

In [ ]:
if tp:
    print(tp)

In [ ]:
# Define the query
query = text('SELECT id,"Name" FROM bd_shops.employers limit 10')
result_list = []

# Execute the query
with engine_dwh.connect() as connection:
    result = connection.execute(query)
    for row in result:
        result_list.append(row)

In [ ]:
result_list[0][1]

In [ ]:
result_list

In [ ]:
engine = create_engine('sqlite:///your_database.db')
metadata = MetaData()

source_tables = ({'employers': {'id': Integer},
                                 'product': {'id': Integer, "name": String},
                                 'shops': {'id': Integer}})

"""
for table_name, columns in source_tables.items():
    table_columns = []
    for column_name, column_type in columns.items():
        table_columns.append(Column(f'{table_name}_{column_name}', column_type))
        table = Table(table_name, metadata, *table_columns)
"""

In [ ]:
table

In [ ]:
your_table = Table('your_table', metadata,
                   Column('id', Integer, primary_key=True),
                   Column('name', String),
                   Column('age', Integer),
                   Column('email', String)
                   )

In [ ]:
engine = create_engine('sqlite:///your_database.db')
metadata = MetaData()
table_columns = []
for table_name, columns in source_tables.items():
    #print(f"table_name = > {table_name}")
    #print(f"columns = > {columns}")
    for column_name, column_type in columns.items():
        #print(f"column_name = > {column_name}")
        #print(f"column_type = > {column_type}")
        table_columns.append(Column(f'{table_name}_{column_name}', column_type))
        
table = Table("your_table", metadata, *table_columns)

In [ ]:
table

# Заметки

- Нужно добавить процедуру чтобы добавила последовательности в таблицы из дампа или обновила типы на серии

# DEV clean

In [260]:
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, Float, Date, ForeignKey, inspect
from sqlalchemy import text
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import datetime
import random
import statistics
from itertools import product

In [271]:
DWH_USER = 'dwh_postgres'
DWH_PASSWORD = 'dwh_postgres'
DWH_HOST = 'dwh_postgres_container'
source_schema = 'bd_shops'
gen_store_schema = 'api'
day_gen_store = 'day_gen_visits'
external_day_gen_store = 'external_day_gen_visits'
day_gen_visits_config = 'day_gen_visits_config'

In [272]:
engine_dwh = create_engine(f'postgresql://{DWH_USER}:{DWH_PASSWORD}@{DWH_HOST}:5432/dwh_shops')
engine_api = create_engine(f'postgresql://{DWH_USER}:{DWH_PASSWORD}@{DWH_HOST}:5432/db_api')

In [274]:
default_params = {'primary_tables': {"employers": {"id": {"data_type": "Integer"}}},
                  'extra_tables': {"visits": {"line_size": {"data_type": "Float", "function": "random_range"}},
                                    "product": {"id": {"data_type": "Integer", "function": "all"}},
                                    "shops": {"id": {"data_type": "Integer", "function": "all"}}                           
                                   },
                  'extra_columns_length_limit': 500,
                  'gen_records': 1}

In [277]:
def write_default_params(**kwargs):
    #get variables from kwargs
    primary_tables = str(kwargs['primary_tables']).replace('\'', '"')
    extra_tables = str(kwargs['extra_tables']).replace('\'', '"')
    extra_columns_length_limit = kwargs['extra_columns_length_limit']
    gen_records = kwargs['gen_records']
    current_datetime = datetime.datetime.now()
    
    filling_default_params_query = (f"INSERT INTO {gen_store_schema}.{day_gen_visits_config} "
                                    f"(source_schema, gen_store_schema, day_gen_store, "
                                    f"external_day_gen_store, primary_tables, extra_tables, extra_columns_length_limit, gen_records, dt) "
                                    f"VALUES ('{source_schema}', '{gen_store_schema}', '{day_gen_store}', '{external_day_gen_store}', "
                                    f"'{primary_tables}', '{extra_tables}', '{extra_columns_length_limit}', '{gen_records}', '{current_datetime}');"
                                   )
    with engine_api.begin() as conn:
        result = conn.execute(text(filling_default_params_query)) 
        conn.commit()

In [278]:
write_default_params(**default_params)

In [279]:
def get_last_param():
    result_dict = {}
    get_params_query = f'SELECT * FROM {gen_store_schema}.{day_gen_visits_config} ORDER BY {day_gen_visits_config}.dt DESC LIMIT 1;'
    with engine_api.connect() as connection:
        result = connection.execute(text(get_params_query))
        column_names = result.keys()
        for row in result:
            for column, row in zip(column_names, row):
                result_dict[column] = row
    return result_dict

In [280]:
current_params = get_last_param()

In [281]:
current_params

{'id': 9,
 'source_schema': 'bd_shops',
 'gen_store_schema': 'api',
 'day_gen_store': 'day_gen_visits',
 'external_day_gen_store': 'external_day_gen_visits',
 'primary_tables': {'employers': {'id': {'data_type': 'Integer'}}},
 'extra_tables': {'visits': {'line_size': {'data_type': 'Float',
    'function': 'random_range'}},
  'product': {'id': {'data_type': 'Integer', 'function': 'all'}},
  'shops': {'id': {'data_type': 'Integer', 'function': 'all'}}},
 'extra_columns_length_limit': 500,
 'gen_records': 1,
 'dt': datetime.datetime(2024, 3, 24, 7, 55, 22, 218595, tzinfo=datetime.timezone.utc)}

{'employers': {'id': {'data_type': 'Integer'}},
 'visits': {'line_size': {'data_type': 'Float', 'function': 'random_range'}},
 'product': {'id': {'data_type': 'Integer', 'function': 'all'}},
 'shops': {'id': {'data_type': 'Integer', 'function': 'all'}}}

employers  id Integer

In [282]:
def create_generated_data_store_table(**kwargs):
    #get variables from kwargs
    day_gen_store = kwargs['day_gen_store']
    gen_store_schema = kwargs['gen_store_schema']
    primary_tables = kwargs['primary_tables']
    extra_tables = kwargs['extra_tables']
    merged_columns = {**primary_tables, **extra_tables}
    #made sqlalchemy obj
    #create clean metadata
    metadata = MetaData()
    #create inspect
    inspector_db_api = inspect(engine_api)
    
    #generate the store table format from params
    day_gen_store_columns = []
    #add "id" and "date" attribute
    day_gen_store_columns.append(Column(f'id', Integer, primary_key=True))
    day_gen_store_columns.append(Column(f'date', Date))
    #add all attribute from params
    for table_name, columns in merged_columns.items():
        for column_name, params in columns.items():
            day_gen_store_columns.append(Column(f'{table_name}_{column_name}', eval(params['data_type'])))
            
    day_gen_store_table = Table(f'{day_gen_store}', 
                                metadata, 
                                *day_gen_store_columns, 
                                schema=f'{gen_store_schema}')

    #checks
    try:
        day_gen_store_inspector = inspector_db_api.get_columns(table_name = day_gen_store,
                                                               schema = gen_store_schema)
        day_gen_store_columns_check = day_gen_store_table.columns.keys()
        day_gen_store_inspector_columns_check = [column['name'] for column in day_gen_store_inspector]
        if set(day_gen_store_columns_check) == set(day_gen_store_inspector_columns_check):
            print(f'table {day_gen_store} without columns changes')
        else:
            print(f'old columns - >> {day_gen_store_inspector_columns_check}')
            print(f'new columns - >> {day_gen_store_columns_check}')
            print(f'table {day_gen_store} columns changes')
            print(f'create all tables from metadata')
            metadata.drop_all(engine_api)
            metadata.create_all(engine_api)
    except:
        print(f'{day_gen_store} сolumn check failed')
        metadata.drop_all(engine_api)
        print(f'table {day_gen_store} not exist')
        print(f'create all tables from metadata')
        metadata.create_all(engine_api)
        
    #return metadata for next steps
    return metadata

In [283]:
metadata = create_generated_data_store_table(**current_params)

table day_gen_visits without columns changes

# Не забудь потом разделить на две функции!!!

In [289]:
def check_filling_generated_data_store_table(metadata, **kwargs):
    #get variables from kwargs
    day_gen_store = kwargs['day_gen_store']
    gen_store_schema = kwargs['gen_store_schema']
    primary_tables = kwargs['primary_tables']
    extra_tables = kwargs['extra_tables']
    #get current datetime
    current_date = datetime.date.today()
    #metadata from params
    metadata = metadata

    
    #tables from metadata
    day_gen_store_table = metadata.tables.get(day_gen_store)
    
    #check day_gen_store filling
    check_filling_day_gen_store_query = (f"SELECT COUNT(*) FROM {gen_store_schema}.{day_gen_store} "
                                        f"WHERE {gen_store_schema}.{day_gen_store}.date = '{current_date}'"
                                        )
    
    with engine_api.connect() as conn:
        check_filling_day_gen_store_query_result = conn.execute(text(check_filling_day_gen_store_query)).fetchall()
    
    if check_filling_day_gen_store_query_result[0][0] == 0:
        print(f'table {gen_store_schema}.{day_gen_store} does not contain records for the current day.\n'
              f'droping old records and generating new.'
             )
        day_gen_store_empty = True
    else: 
        day_gen_store_empty = False
    return day_gen_store_empty

In [290]:
check_filling_generated_data_store_table(metadata, **current_params)

table api.day_gen_visits does not contain records for the current day.
droping old records and generating new.

True

In [286]:
current_params

{'id': 9,
 'source_schema': 'bd_shops',
 'gen_store_schema': 'api',
 'day_gen_store': 'day_gen_visits',
 'external_day_gen_store': 'external_day_gen_visits',
 'primary_tables': {'employers': {'id': {'data_type': 'Integer'}}},
 'extra_tables': {'visits': {'line_size': {'data_type': 'Float',
    'function': 'random_range'}},
  'product': {'id': {'data_type': 'Integer', 'function': 'all'}},
  'shops': {'id': {'data_type': 'Integer', 'function': 'all'}}},
 'extra_columns_length_limit': 500,
 'gen_records': 1,
 'dt': datetime.datetime(2024, 3, 24, 7, 55, 22, 218595, tzinfo=datetime.timezone.utc)}

# НИже надо доделать

In [ ]:
def fill_generated_data_store_table(metadata, **kwargs)
    #get variables from kwargs
    source_schema = kwargs['source_schema']
    day_gen_store = kwargs['day_gen_store']
    gen_store_schema = kwargs['gen_store_schema']
    primary_tables = kwargs['primary_tables']
    extra_tables = kwargs['extra_tables']
    #get current datetime
    current_datetime = datetime.datetime.now()
    #metadata from params
    metadata = metadata
    #get data to generate
    if day_gen_store_empty == True:
        generate_params_dict = {}
        
        #get categorical values
        with engine_dwh.connect() as conn:
            for table_name, columns in source_tables.items():
                for column_name, column_type in columns.items():
                    get_cat_values_query = f'SELECT DISTINCT({column_name}) FROM {source_schema}.{table_name};'
                    get_cat_values_query_res = conn.execute(text(get_cat_values_query)).fetchall()
                    generate_params_dict[f'{table_name}_cat_values'] = [item for sublist in get_cat_values_query_res for item in sublist]
        #get extra columns values
        median_cat_values_list = statistics.median(len(lst) for lst in generate_params_dict.values())
        with engine_dwh.connect() as conn:
            for table, column in extra_tables.items():
                for column in extra_tables[table]:
                    if (extra_tables[table][column]['function']) == 'random_range':
                        if (extra_tables[table][column]['data_type']) == 'double_precision':
                            extra_column_value_precision = 2
                        else:
                            extra_column_value_precision = 0
                    start_range_query = f'SELECT min({column}) FROM {source_schema}.{table};'
                    start_range_query_res = conn.execute(text(start_range_query)).fetchall()[0][0]
                    end_range_query = f'SELECT max({column}) FROM {source_schema}.{table};'
                    end_range_query_res = conn.execute(text(end_range_query)).fetchall()[0][0]
                    random_range_values = [round(random.uniform(start_range_query_res, end_range_query_res), extra_column_value_precision) 
                                           for i in range(median_cat_values_list)]
                    generate_params_dict[f'{table}_random_range_values'] = random_range_values
                    
                    
                

        
    
    return(generate_params_dict)

# Test

In [7]:
check_test = check_filling_generated_data_store_table(metadata, **default_params)

table api.day_gen_visits does not contain records for the current day.
droping old records and generating new.

In [11]:
check_test['employers_cat_values'][0]

184

In [169]:
for i in check_test:
    random.shuffle(check_test[i])

In [121]:
default_params['extra_tables']

{'visits': {'line_size': {'data_type': 'double_precision',
   'function': 'random_range'}}}

In [128]:
for table, column in default_params['extra_tables'].items():
    print(default_params['extra_tables'][table])
    for column in default_params['extra_tables'][table]:
        print(column)

{'line_size': {'data_type': 'double_precision', 'function': 'random_range'}}
line_size

In [131]:
default_params['extra_tables']['visits']['line_size']['data_type']

'double_precision'

In [1]:
def visit_gen():
    l1 = list(range(1, 55))
    l2 = list(range(1, 44))
    random.shuffle(l1)
    random.shuffle(l2)
    n1 = list(range(1, 6))
    for i,j,n in zip(l1, l2, n1):
        print(str(f'{i} - {j}'))

In [9]:
l1 = list(range(1, 9999))
l2 = list(range(1, 499))
l3 = list(range(1, 36))
l4 = list(range(1, 499))
random.shuffle(l1)
random.shuffle(l2)
random.shuffle(l3)
random.shuffle(l4)

In [10]:
zip(l1, l2, l3, l4)
for i,j,n,k in zip(l1, l2, l3,l4):
    print(str(f'{i} - {j} - {n}, {k}'))

5771 - 377 - 18, 442
1631 - 320 - 29, 436
621 - 452 - 27, 278
4715 - 351 - 21, 124
423 - 192 - 32, 188
7334 - 144 - 12, 258
9008 - 321 - 22, 408
8573 - 112 - 1, 368
8332 - 478 - 14, 201
1543 - 123 - 6, 396
3251 - 259 - 31, 295
67 - 197 - 17, 358
2514 - 324 - 25, 390
4293 - 173 - 5, 96
7657 - 335 - 19, 83
7595 - 138 - 3, 206
7958 - 190 - 20, 379
7200 - 94 - 35, 145
4857 - 282 - 9, 320
2744 - 375 - 15, 125
2796 - 30 - 26, 146
2079 - 14 - 11, 103
6160 - 128 - 7, 127
6644 - 32 - 34, 420
681 - 51 - 23, 93
4698 - 306 - 24, 227
36 - 352 - 10, 310
5377 - 66 - 33, 70
9926 - 267 - 28, 416
2178 - 333 - 30, 118
4403 - 20 - 13, 484
5817 - 113 - 2, 95
1927 - 385 - 4, 75
6768 - 175 - 16, 175
7587 - 188 - 8, 467

In [134]:
import random

#Define the range and precision
start_range = 0.0 
end_range = 1.0 
precision = 0

#Define the number of values to generate
num_values = 5

#Generate the list of random values
random_values = [round(random.uniform(start_range, end_range), precision) for i in range(num_values)]

print(random_values)

[1.0, 0.0, 1.0, 1.0, 0.0]

In [181]:
sql_dict = {'l1': [1, 3, 5, 7],
            'l2': [2, 7, 1],
            'l3': [1, 88, 12, 44, 66, 888]}

In [185]:
import pandas as pd
from itertools import product

sql_dict = {'l1': [1,3,5,7],
            'l2': [2,7,1],
            'l3': [1,88,12,44,66,888]}

# Create all possible combinations of values from the dictionary
combinations = list(product(*sql_dict.values()))

# Create a DataFrame with the combinations as rows and dictionary keys as columns
df = pd.DataFrame(combinations, columns=sql_dict.keys())

# Print the DataFrame
print(df)

    l1  l2   l3
0    1   2    1
1    1   2   88
2    1   2   12
3    1   2   44
4    1   2   66
..  ..  ..  ...
67   7   1   88
68   7   1   12
69   7   1   44
70   7   1   66
71   7   1  888

[72 rows x 3 columns]

In [186]:
combinations

[(1, 2, 1),
 (1, 2, 88),
 (1, 2, 12),
 (1, 2, 44),
 (1, 2, 66),
 (1, 2, 888),
 (1, 7, 1),
 (1, 7, 88),
 (1, 7, 12),
 (1, 7, 44),
 (1, 7, 66),
 (1, 7, 888),
 (1, 1, 1),
 (1, 1, 88),
 (1, 1, 12),
 (1, 1, 44),
 (1, 1, 66),
 (1, 1, 888),
 (3, 2, 1),
 (3, 2, 88),
 (3, 2, 12),
 (3, 2, 44),
 (3, 2, 66),
 (3, 2, 888),
 (3, 7, 1),
 (3, 7, 88),
 (3, 7, 12),
 (3, 7, 44),
 (3, 7, 66),
 (3, 7, 888),
 (3, 1, 1),
 (3, 1, 88),
 (3, 1, 12),
 (3, 1, 44),
 (3, 1, 66),
 (3, 1, 888),
 (5, 2, 1),
 (5, 2, 88),
 (5, 2, 12),
 (5, 2, 44),
 (5, 2, 66),
 (5, 2, 888),
 (5, 7, 1),
 (5, 7, 88),
 (5, 7, 12),
 (5, 7, 44),
 (5, 7, 66),
 (5, 7, 888),
 (5, 1, 1),
 (5, 1, 88),
 (5, 1, 12),
 (5, 1, 44),
 (5, 1, 66),
 (5, 1, 888),
 (7, 2, 1),
 (7, 2, 88),
 (7, 2, 12),
 (7, 2, 44),
 (7, 2, 66),
 (7, 2, 888),
 (7, 7, 1),
 (7, 7, 88),
 (7, 7, 12),
 (7, 7, 44),
 (7, 7, 66),
 (7, 7, 888),
 (7, 1, 1),
 (7, 1, 88),
 (7, 1, 12),
 (7, 1, 44),
 (7, 1, 66),
 (7, 1, 888)]

In [180]:
sql_dict['l1']

[1, 3, 5, 7]

In [ ]:
import itertools

sql_dict ={'l1': list(range(1, 499)),
           'l2': list(range(1, 9999)),
           'l3': list(range(1, 36))}

# Create a list of all possible combinations of values from the dictionary
combinations = list(itertools.product(*sql_dict.values()))

# Create a table with columns corresponding to the keys of the dictionary
table = {key: [] for key in sql_dict.keys()}

# Populate the table with the combinations of values
for combination in combinations:
    for key, value in zip(sql_dict.keys(), combination):
        table[key].append(value)

# Print the table
for key, values in table.items():
    print(f"{key}: {values}")